.collection-header {
	background: url(../assets/svg/collection-bg.svg) no-repeat center center / cover;
	position: relative;
	padding: 40px 0;
	z-index: 20;
}

.collection-container {
	position: relative;
	max-width: 1252px;
	margin: 0 auto;
	padding: 0 16px 50px;
	z-index: 10;
}

.collection-header-box {
	border-radius: 16px;
	margin-top: 40px;
}

.banner-badge {
	padding: 10px 16px;
	border-radius: 8px;
	transition: 0.2s;
	cursor: pointer;

	&:hover {
		transform: translateY(-2px);
	}
}

.social-icon {
	line-height: 5px;

	svg {
		color: white;
		background: #de345e;
		width: 40px;
		height: 40px;
		padding: 10px;
		border-radius: 50%;
	}
}

/* filter  */
.result-counts {
	font-weight: bold;
	margin-left: 5px;
	color: #3eb98e;
}

.filter-search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 18px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	margin-bottom: 20px;

	input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		font-size: 14px;
		background-color: transparent;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 768px) {
	.social-icon svg {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.filter-search-box {
		margin-right: -20px;
	}
}
