.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;

	input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		background: transparent;
		font-size: 16px;
		padding: 0 10px;
	}
}

.list-item {
	gap: 12px;
	padding: 12px 26px;
	border-radius: 10px;

	div {
		min-width: auto;
	}

	svg {
		width: 24px;
		height: 24px;

		path {
			fill: white;
		}
	}

	span {
		color: white;
		font-weight: 500;
	}

	&.nav-selected {
		path {
			fill: #3eb98e;
		}
		span {
			font-weight: 600;
		}
	}
}

.notification::after {
	content: "";
	position: absolute;
	top: 1%;
	right: 1%;
	background: #3eb98e;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}
