/* dashboard-banner */
.dashboard-banner {
	position: relative;
	background: url("../assets/svg/dashboard-banner-bg.svg") no-repeat center center;
	background-size: cover;
	border-radius: 16px;
}

.swiper-box {
	position: absolute;
	bottom: -20%;
	right: 5%;
	width: 144px;
	height: 176px;
}
