// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* reset style */
* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 110px;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	&.MuiTypography-root {
		font-weight: 600;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

button,
.MuiButton-root {
	border-radius: 8px;
	line-height: inherit;
}

/* custom scrollbar start  */
html {
	scrollbar-color: #1c272c #de345e;
}
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
	height: 10%;
	background: #de345fd2;
	border-radius: 30px;
}

/**
* =============================
* global css throughout the app
* =============================
**/
.flex-all-cen {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-jus-bet {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.next-img-wrapper {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.next-img-wrapper-circle {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.swiper-with-red-arrows {
	padding-top: 58px !important;

	div.swiper-button-prev,
	div.swiper-button-next {
		top: 8%;

		&::after {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 35px;
			width: 35px;
			height: 35px;
			font-size: 13px;
			font-weight: bold;
			color: #fff;
			background-color: #de345e;
			border-radius: 50%;
			padding: 10px;
		}
	}

	div.swiper-button-prev {
		left: auto;
		right: 58px;
	}

	div.swiper-button-next {
		right: 6px;
	}

	&.small-arrows {
		div.swiper-button-prev,
		div.swiper-button-next {
			top: 12%;

			&::after {
				width: 28px;
				height: 28px;
				min-width: 28px;
				font-size: 10px;
			}
		}

		div.swiper-button-prev {
			right: 46px;
		}
	}
}

.small-orbit-animate {
	animation: my-small-orbit 4s linear infinite;
}
.bounce-animate {
	animation: bounce 2s ease-in-out infinite;
}
.float-right {
	animation: float-right 4.5s ease-in-out infinite;
}
.float-left {
	animation: float-left 4.5s ease-in-out infinite;
}
.float-left-bottom {
	animation: float-left-bottom 4.5s ease-in-out infinite;
}

/**
* ========================
* keyframe animatins
* ========================
**/

@keyframes bounce {
	from {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0px, 15px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes my-small-orbit {
	from {
		transform: rotate(0deg) translateX(20px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(20px) rotate(-360deg);
	}
}

@keyframes float-right {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(30vw, 15vw);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes float-left {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-44vw, -10vw);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes float-left-bottom {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-44vw, 10vw);
	}
	to {
		transform: translate(0, 0);
	}
}
