/**
* navigation
* ========================
**/

.nav-link {
	font-size: 18px;
	color: white;
	margin: 0 10px;
	padding: 5px 10px;
	transition: 0.4s;
	white-space: nowrap;
	text-transform: capitalize;

	@media (max-width: 1500px) {
		font-size: 15px;
	}
}

/** 
* banner section
* ========================
**/

.waves {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: -10px; /* Fix bottom gap */

	@media (max-width: 768px) {
		height: 60px;
	}
}
/* Animation */
.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/** 
* join-us section
* ========================
**/
.join-us-container {
	max-width: 1200px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: radial-gradient(42.01% 100% at 3.32% 0%, #ff73ae 0%, #de345e 100%);
	border-radius: 32px;
	margin: 100px auto;
	text-align: center;
}

/**
* footer
* ========================
**/

.footer-section {
	background: #de345e;
	padding-top: 50px;
	padding-bottom: 24px;

	h4,
	p,
	svg,
	.footer-nav-links a {
		color: #fff;
	}
}
