.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;

	input {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		background: transparent;
		font-size: 16px;
		padding: 0 10px;
	}
}

.list-item {
	gap: 8px;
	padding: 8px 12px;
	border-radius: 10px;

	div {
		min-width: auto;
	}

	svg {
		width: 24px;
		height: 24px;
	}

	span {
		font-size: 14px;
		font-weight: 500;
	}
}
