.radish-square-banner-slider :global {
	padding-top: 0 !important;

	div.swiper-button-prev,
	div.swiper-button-next {
		top: auto;
		bottom: 40px;

		@media (max-width: 900px) {
			bottom: 26px;
		}
		@media (max-width: 650px) {
			bottom: 12px;
		}
	}

	div.swiper-button-prev {
		right: 28%;

		@media (max-width: 1400px) {
			right: 30%;
		}
		@media (max-width: 900px) {
			right: 53%;
		}
		@media (max-width: 760px) {
			right: 55%;
		}
		@media (max-width: 550px) {
			right: 54%;
		}
	}

	div.swiper-button-next {
		right: 22%;

		@media (max-width: 1000px) {
			right: 20%;
		}
		@media (max-width: 900px) {
			right: 46%;
		}
		@media (max-width: 760px) {
			right: 44%;
		}
		@media (max-width: 550px) {
			right: 38%;
		}
	}
}
